@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap%22");

:root {
    --dark-brown: #43281c;
    --sand: #fbf2c0;
    --brown: #885a2d;
    --beige: #eee1d5;
    --white: #efefef;
    --light-brown: #b08968;
    --soft-orange: hsl(35, 77%, 62%);
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--brown);
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--brown);
}

/* Header Section */

header {
    background-color: var(--beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img {
    width: 50px;
}

header h5 {
    font-weight: 700;
    font-size: 24px;
}

/* Main Section */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

/* Order Section */

.items {
    background-color: var(--beige);
}

.items h2 {
    margin-bottom: 20px;
}

.items ul {
    list-style-type: none;
    padding: 0;
}

.items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.container1{
    background-color: var(--beige);
    float:none;
    display: table-cell;
    vertical-align: middle;
    width: 33.333%;
}

/* Customer Information */

.customer-info {
    background-color: var(--beige);
    border-radius: 6px;
    padding: 30px;
}

.customer-info h2 {
    margin-bottom: 20px;
}

.customer-info form div {
    margin-bottom: 15px;
}

.customer-info label {
    display: block;
    margin-bottom: 5px;
}

.customer-info input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--brown);
    border-radius: 4px;
}

/* Payment Information */

.payment-info {
    background-color: var(--beige);
    border-radius: 6px;
    padding: 30px;
}

.payment-info h2 {
    margin-bottom: 20px;
}

.payment-info form div {
    margin-bottom: 15px;
}

.payment-info label {
    display: block;
    margin-bottom: 5px;
}

.payment-info input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--brown);
    border-radius: 4px;
}

/* Order Total Section */

.order-total {
    background-color: var(--beige);
    border-radius: 6px;
    padding: 30px;
}

.order-total h2 {
    margin-bottom: 20px;
}

.order-total table {
    width: 100%;
    margin-bottom: 20px;
}

.order-total td {
    text-align: right;
    padding-bottom: 10px;
}

.order-total tr:first-child td {
    font-weight: bold;
}

/* Submit Order Section */

.order {
    display: flex;
    justify-content: center;
}

.order button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color:var(--white);
    font-weight: bold;
    cursor: pointer;
    text-transform:uppercase;
    background-color: var(--soft-orange);
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav img {
        margin-bottom: 10px;
    }
}